<html>
<head>
<title>Schollar Web</title>
<link rel="stylesheet" href="/css/fuentes.css" type="text/css" />
<meta charset="UTF-8" />
</head>

<body id="top">
	<div class="wrapper menu">
		<div id="box_tittle">
			<ul>
				<li><a href="/"><strong>Inicio</strong></a></li>
				<li><a href="/profesores"><strong>Profesores</strong></a></li>
				<li><a href="/noticias"><strong>Noticias</strong></a></li>
				<li><a href="/contacto"><strong>Contacto</strong></a></li>
			</ul>
		</div>
	</div>
	<!-- ####################################################################################################### -->
	<div class="wrapper titulo">
		<div id="header" class="clear">
			<div id="shading">
				<div class="fl_left">
					<h1>
						<a href="#">Schollar Web</a>
					</h1>
				</div>
				<div class="fl_right">
					<form action="#" method="post" id="sitesearch">
						<fieldset>
							<legend>Busqueda</legend>
							<input type="text" class="t" /> <input type="image"
								src="/css/img/search.gif" id="search" alt="Search" />
						</fieldset>
					</form>
					<p>
						<h3>
							<a href="login">Login</a> | <a href="administrador">
								administrador</a>
						</h3>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- ####################################################################################################### -->
	
	<div class="wrapper principal">
			<section class="school-features text-dark d-flex">
				<div class="inner_mysql">
									<!-- INSERTAR ALUMNO -->
				<section class="feature_mysql_grande">
					<form action="/insertar_alumno" method="post" id="mysql">
						<h1><strong><label id="center">Alumno</label></strong></h1>
						<div class="col_mysql">
							<div class="col_mysql ">
								<label class="center">Nombre<br/></label>
								<input type="text" name="nombre" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Apellido 1</label> 
								<input type="text"name="apellido1" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Apellido 2</label> 
								<input type="text" name="apellido2" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql_boton center">
							<input type="submit" value="Enviar" class="btn btn-primary">
						</div>
						
					</form>
				</section>
									<!-- INSERTAR PADRE -->
				<section class="feature_mysql_grande">
					<form action="/insertar_padre" method="post" id="mysql">
						<h1><strong><label id="center">Padre/Tutor</label></strong></h1>
						<div class="col_mysql">
							<div class="col_mysql ">
							<label class="center">Correo</label> 
								<input type="email" name="correo" class="form-mysql">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Apellido</label> 
								<input type="text"name="apellido" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Nombre</label> 
								<input type="text" name="nombre" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Nombre alumno</label> 
								<input type="text" name="nombreA" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql_boton center">
							<input type="submit" value="Enviar" class="btn btn-primary">
						</div>
					</form>
				</section>
					
								<!-- INSERTAR PROFESOR -->
				<section class="feature_mysql_grande">
					<form action="/insertar_profesor" method="post">
						<h1><strong><label id="center">Profesor</label></strong></h1>
						<div class="col_mysql">
							<div class="col_mysql ">
								<label class="center">Nombre</label> 
								<input type="text" name="nombre" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Apellido 1</label> 
								<input type="text"name="apellido1" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Apellido 2</label> 
								<input type="text" name="apellido2" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Correo</label> 
								<input type="text" name="correo" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql_boton center">
							<input type="submit" value="Enviar" class="btn btn-primary">
						</div>
					</form>
				</section>
					
					
									<!-- INSERTAR ASIGNATURA -->
				<section class="feature_mysql_peque">
					<form action="/insertar_asignatura" method="post">
						<h1><strong><label id="center">Asignatura</label></strong></h1>
						<div class="col_mysql">
							<div class="col_mysql ">
								<label class="center">Nombre</label> 
								<input type="text" name="nombre" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Curso</label> 
								<input type="text" name="curso" class="form-mysql">
							</div>
						</div>
						<div class="col_mysql_boton center">
							<input type="submit" value="Enviar" class="btn btn-primary">
						</div>
					</form>
				</section>
					
										<!-- INSERTAR AULA -->
				<section class="feature_mysql_peque">
					<form action="/insertar_aula" method="post">
						<h1><strong><label id="center">Aula</label></strong></h1>
						<div class="col_mysql">
							<div class="col_mysql ">
								<label class="center">Curso</label> 
								<input type="text" name="curso" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Letra
								</label> <input type="text"name="letra" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql_boton center">
							<input type="submit" value="Enviar" class="btn btn-primary">
						</div>
					</form>
				</section>
					
										<!-- INSERTAR NOTICIA -->
				<section class="feature_mysql_peque">
					<form action="/insertar_noticia" method="post">
						<h1><strong><label id="center">Noticia</label></strong></h1>
						<div class="col_mysql">
							<div class="col_mysql ">
								<label class="center">Titulo</label> 
								<input type="text" name="titulo" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Cuerpo
								</label> <input type="text"name="cuerpo" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql_boton center">
							<input type="submit" value="Enviar" class="btn btn-primary">
						</div>
					</form>
				</section>
				</div>
			</section>
		</div>


	<!-- ####################################################################################################### -->
	<div class="wrapper">
		<div id="footer" class="not">
			<div class="fl_left clear">
				<div class="fl_left center">
					<a
						href="https://www.google.com/maps?client=safari&rls=en&q=puerta+del+sol&oe=UTF-8&um=1&ie=UTF-8&sa=X&ved=0ahUKEwivh4OLtMXgAhUMHxoKHX1vBQIQ_AUIDigB"><img
						src="./css/img/worldmap.gif" /><br /> Find Us With Google Maps
						&raquo;</a>
				</div>
			</div>
			<div class="fl_right">
				<address>
					Calle de la piruleta<br /> sin numero <br /> Madrid<br /> 28903p<br />
					<br /> Tel: 91 6876832<br /> Email: <a href="#">contact@scholarweb.com</a>
				</address>
			</div>
			<div id="copyright" class="clear">
				<p class="fl_left">
					Copyright &copy; 2019 - All Rights Reserved - <a href="#">Scholar
						Web</a>
				</p>
			</div>
		</div>
	</div>
</body>
</html>