<html>
<head>
<title>Schollar Web</title>
<link rel="stylesheet" href="/css/fuentes.css" type="text/css" />
<meta charset="UTF-8" />
</head>

<body id="top">
	<div class="wrapper menu">
		<div id="box_tittle">
			<ul>
				<li><a href="/"><strong>Inicio</strong></a></li>
				<li><a href="/profesor"><strong>Profesores</strong></a></li>
				<li><a href="/noticias"><strong>Noticias</strong></a></li>
				<li><a href="/contacto"><strong>Contacto</strong></a></li>
			</ul>
		</div>
	</div>
	<!-- ####################################################################################################### -->
	<div class="wrapper titulo">
		<div id="header" class="clear">
			<div id="shading">
				<div class="fl_left">
					<h1>
						<a href="#">Schollar Web</a>
					</h1>
				</div>
				<div class="fl_right">
					
					<p>
						<h3>
							<a href="login">Login</a> 
							{{#administrador}}| 
								<a href="administrador">
								administrador</a>
							{{/administrador}}
						</h3>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- ####################################################################################################### -->
	
	<div class="wrapper principal">
			<section class="school-features text-dark d-flex">
				<div class="inner_mysql">
									<!-- INSERTAR ALUMNO -->
				<section class="feature_mysql_grande">
					<form action="alumno/insertar_alumno" method="post" id="mysql">
						<h1><strong><label id="center">Alumno</label></strong></h1>
						<div class="col_mysql">
							<div class="col_mysql ">
								<label class="center">Nombre<br/></label>
								<input type="text" name="nombre" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Apellido 1</label> 
								<input type="text"name="apellido1" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Apellido 2</label> 
								<input type="text" name="apellido2" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">id Profesor</label> 
								<input type="text" name="idprofesor" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Id Asignatura</label> 
								<input type="text" name="idasig" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">id Aula</label> 
								<input type="text" name="idaula" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql_boton center">
							<input type="submit" value="Enviar" class="btn btn-primary">
							<input type="hidden" name="_csrf" value="{{token}}"/>
						</div>
					</form>
				</section>
				
									<!-- ELIMINAR ALUMNO -->
				<section class="feature_mysql_grande">
					<form action="alumno/eliminar_alumno" method="post" id="mysql">
						<h1><strong><label id="center">Alumno</label></strong></h1>
						<div class="col_mysql">
							<div class="col_mysql ">
								<label class="center">Nº Expediente<br/></label>
								<input type="text" name="nexp" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql_boton center">
							<input type="submit" value="Eliminar" class="btn btn-primary">
							<input type="hidden" name="_csrf" value="{{token}}"/>
						</div>
					</form>
				</section>
								<!-- TABLA Alumnos-->
				<section class="feature_mysql_tabla">
					<div class="col_mysql">
						<h1 class="center">Alumnos</h1>
								<table style="width:100%">
								  <tr>
								  	<th>Nº Expediente</th>
								  	<th>Nombre</th>
								    <th>Apellido 1</th>
								    <th>Apellido 2</th>
								    <th>Correo</th>
								  </tr>
								  {{#alumnos}}
								  <tr class="center">
								    <td>{{id}}</td>
								    <td>{{nombre}}</td>
								    <td>{{apellido1}}</td>
								    <td>{{apellido2}}</td>
								    <td>{{correo}}</td>
								  </tr>
								  {{/alumnos}}
								</table>
					</div>
				</section>
									<!-- INSERTAR PADRE -->
				<section class="feature_mysql_grande">
					<form action="padre/insertar_padre" method="post" id="mysql">
						<h1><strong><label id="center">Padre/Tutor</label></strong></h1>
						<div class="col_mysql">
							<div class="col_mysql ">
							<label class="center">Nombre</label> 
								<input type="text" name="nombre" class="form-mysql">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Apellido</label> 
								<input type="text"name="apellido" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Id Alumno</label> 
								<input type="text" name="idalumno" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql_boton center">
							<input type="submit" value="Enviar" class="btn btn-primary">
							<input type="hidden" name="_csrf" value="{{token}}"/>
						</div>
					</form>
				</section>
				
							<!-- ELIMINAR PADRE -->
				<section class="feature_mysql_grande">
					<form action="padre/eliminar_padre" method="post" id="mysql">
						<h1><strong><label id="center">Padre/Tutor</label></strong></h1>
						<div class="col_mysql">
							<div class="col_mysql ">
							<label class="center">Id-Padre</label> 
								<input type="text" name="id_padre" class="form-mysql">
							</div>
						</div>		
						<div class="col_mysql_boton center">
							<input type="submit" value="Eliminar" class="btn btn-primary">
							<input type="hidden" name="_csrf" value="{{token}}"/>
						</div>
					</form>
				</section>
					
									<!-- TABLA Padres-->
				<section class="feature_mysql_tabla">
					<div class="col_mysql">
						<h1 class="center">Padres</h1>
								<table style="width:100%">
								  <tr>
								    <th>Id_Padre</th>
								  	<th>Nombre</th>
								    <th>Apellido 1</th>
								    <th>Correo</th>
								  </tr>
								  {{#padres}}
								  <tr class="center">
								  	<td>{{id}}</td>
								    <td>{{nombre}}</td>
								    <td>{{apellido}}</td>
								    <td>{{correo}}</td>
								  </tr>
								  {{/padres}}
								</table>
					</div>
				</section>
								<!-- INSERTAR PROFESOR -->
				<section class="feature_mysql_grande">
					<form action="profesor/insertar_profesor" method="post">
						<h1><strong><label id="center">Profesor</label></strong></h1>
						<div class="col_mysql">
							<div class="col_mysql ">
								<label class="center">Nombre</label> 
								<input type="text" name="nombre" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Apellido 1</label> 
								<input type="text"name="apellido1" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Apellido 2</label> 
								<input type="text" name="apellido2" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Asignatura</label> 
								<input type="text" name="asignatura" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Id Aula</label> 
								<input type="text" name="id_aula" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql_boton center">
							<input type="submit" value="Enviar" class="btn btn-primary">
							<input type="hidden" name="_csrf" value="{{token}}"/>
						</div>
					</form>
				</section>
				
									<!-- ELIMINAR PROFESOR -->
				<section class="feature_mysql_grande">
					<form action="profesor/eliminar_profesor" method="post">
						<h1><strong><label id="center">Profesor</label></strong></h1>
						<div class="col_mysql">
							<div class="col_mysql ">
								<label class="center">ID_Profesor</label> 
								<input type="text" name="id_profesor" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql_boton center">
							<input type="submit" value="Eliminar" class="btn btn-primary">
							<input type="hidden" name="_csrf" value="{{token}}"/>
						</div>
					</form>
				</section>
					
										<!-- TABLA Profesor-->
				<section class="feature_mysql_tabla">
					<div class="col_mysql">
						<h1 class="center">Profesores</h1>
								<table style="width:100%">
								  <tr>
								  	<th>Id_Profesor</th>
								  	<th>Nombre</th>
								    <th>Apellido 1</th>
								    <th>Apellido 2</th> 
								    <th>Correo</th> 
								  </tr>
								  {{#profesores}}
								  <tr class="center">
								  	<td>{{id}}</td>
								    <td>{{nombre}}</td>
								    <td>{{apellido1}}</td>
								    <td>{{apellido2}}</td>
								    <td>{{correo}}</td>
								  </tr>
								  {{/profesores}}
								</table>
					</div>
				</section>
					
									<!-- INSERTAR ASIGNATURA -->
				<section class="feature_mysql_peque">
					<form action="asignatura/insertar_asignatura" method="post">
						<h1><strong><label id="center">Asignatura</label></strong></h1>
						<div class="col_mysql">
							<div class="col_mysql ">
								<label class="center">Nombre</label> 
								<input type="text" name="nombre" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Curso</label> 
								<input type="text" name="curso" class="form-mysql">
							</div>
						</div>
						<div class="col_mysql_boton center">
							<input type="submit" value="Enviar" class="btn btn-primary">
							<input type="hidden" name="_csrf" value="{{token}}"/>
						</div>
					</form>
				</section>
				
										<!-- ELIMINAR ASIGNATURA -->
				<section class="feature_mysql_peque">
					<form action="asignatura/eliminar_asignatura" method="post">
						<h1><strong><label id="center">Asignatura</label></strong></h1>
						<div class="col_mysql">
							<div class="col_mysql ">
								<label class="center">ID_Asignatura</label> 
								<input type="text" name="id" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql_boton center">
							<input type="submit" value="Eliminar" class="btn btn-primary">
							<input type="hidden" name="_csrf" value="{{token}}"/>
						</div>
					</form>
				</section>
					
									<!-- TABLA Asignaturas-->
				<section class="feature_mysql_tabla_peque">
					<div class="col_mysql">
						<h1 class="center">Asignaturas</h1>
								<table style="width:100%">
								  <tr>
								  	<th>ID_Asignatura</th>
								  	<th>Nombre</th>
								    <th>Curso</th>
								  </tr>
								  {{#asignaturas}}
								  <tr class="center">
								  	<td>{{id}}</td>
								    <td>{{curso}}</td>
								    <td>{{nombre}}</td>
								  </tr>
								  {{/asignaturas}}
								</table>
					</div>
				</section>
					
				
										<!-- INSERTAR NOTICIA -->
				<section class="feature_mysql_peque">
					<form action="noticia/insertar_noticia" method="post">
						<h1><strong><label id="center">Noticia</label></strong></h1>
						<div class="col_mysql">
							<div class="col_mysql ">
								<label class="center">Titulo</label> 
								<input type="text" name="titulo" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Cuerpo
								</label> <input type="text"name="cuerpo" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql_boton center">
							<input type="submit" value="Enviar" class="btn btn-primary">
							<input type="hidden" name="_csrf" value="{{token}}"/>
						</div>
					</form>
				</section>
			
									<!-- ELIMINAR NOTICIA -->
				<section class="feature_mysql_peque">
					<form action="noticia/eliminar_noticia" method="post">
						<h1><strong><label id="center">Noticia</label></strong></h1>
						<div class="col_mysql">
							<div class="col_mysql ">
								<label class="center">Titulo</label> 
								<input type="text" name="titulo" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql_boton center">
							<input type="submit" value="Eliminar" class="btn btn-primary">
							<input type="hidden" name="_csrf" value="{{token}}"/>
						</div>
					</form>
				</section>
				
									<!-- TABLA Noticias-->
				<section class="feature_mysql_tabla_peque">
					<div class="col_mysql">
						<h1 class="center">Noticias</h1>
								<table style="width:100%">
								  <tr>
								  	<th>Titulo</th>
								    <th>Cuerpo</th>
								  </tr>
								  {{#noticias}}
								  <tr class="center">
								    <td>{{titulo}}</td>
								    <td>{{cuerpo}}</td>
								  </tr>
								  {{/noticias}}
								</table>
					</div>
				</section>
										<!-- INSERTAR AULA -->
				<section class="feature_mysql_peque">
					<form action="aula/insertar_aula" method="post">
						<h1><strong><label id="center">Aula</label></strong></h1>
						<div class="col_mysql">
							<div class="col_mysql ">
								<label class="center">Curso</label> 
								<input type="text" name="curso" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Letra
								</label> <input type="text"name="letra" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql_boton center">
							<input type="submit" value="Enviar" class="btn btn-primary">
							<input type="hidden" name="_csrf" value="{{token}}"/>
						</div>
					</form>
				</section>
				
									<!-- TABLA Aula-->
				 <section class="feature_mysql_peque">
					<div class="col_mysql">
						<h1 class="center">Aulas</h1>
								<table style="width:100%">
								  <tr>
								  	<th>id</th>
								  	<th>Curso</th>
								    <th>Letra</th>
								  </tr>
								  {{#aulas}}
								  <tr class="center">
								  	<td>{{idAula}}</td>
								    <td>{{curso}}</td>
								    <td>{{letra}}</td>
								  </tr>
								  {{/aulas}}
								</table>
					</div>
				</section>
				
					<!-- INSERTAR ADMIN -->
				<section class="feature_mysql_peque">
					<form action="administrador/insertar_admin" method="post">
						<h1><strong><label id="center">ADMIN</label></strong></h1>
						<div class="col_mysql">
							<div class="col_mysql ">
								<label class="center">Nombre</label> 
								<input type="text" name="nombre" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql">
							<div class="col_mysql">
								<label class="center">Apellido</label> 
								<input type="text"name="apellido" class="form-mysql ">
							</div>
						</div>
						<div class="col_mysql_boton center">
							<input type="submit" value="Enviar" class="btn btn-primary">
							<input type="hidden" name="_csrf" value="{{token}}"/>
						</div>
					</form>
				</section>
				
								<!-- TABLA Aula-->
				 <section class="feature_mysql_peque">
					<div class="col_mysql">
						<h1 class="center">Administrador</h1>
								<table style="width:100%">
								  <tr>
								  	<th>Nombre</th>
								    <th>Apellido</th>
								  </tr>
								  {{#admin}}
								  <tr class="center">
								    <td>{{nombre}}</td>
								    <td>{{apellido}}</td>
								  </tr>
								  {{/admin}}
								</table>
					</div>
				</section>
				
				</div>
			</section>
			
			<form action="/logout" method="post">
				<input type="submit" value="Sign Out" />
				<input type="hidden" name="_csrf" value="{{token}}"/>
			</form>
			
		</div>


	<!-- ####################################################################################################### -->
	<div class="wrapper">
		<div id="footer" class="not">
			<div class="fl_left clear">
				<div class="fl_left center">
					<a
						href="https://www.google.com/maps?client=safari&rls=en&q=puerta+del+sol&oe=UTF-8&um=1&ie=UTF-8&sa=X&ved=0ahUKEwivh4OLtMXgAhUMHxoKHX1vBQIQ_AUIDigB"><img
						src="./css/img/worldmap.gif" /><br /> Find Us With Google Maps
						&raquo;</a>
				</div>
			</div>
			<div class="fl_right">
				<address>
					Calle de la piruleta<br /> sin numero <br /> Madrid<br /> 28903p<br />
					<br /> Tel: 91 6876832<br /> Email: <a href="#">contact@scholarweb.com</a>
				</address>
			</div>
			<div id="copyright" class="clear">
				<p class="fl_left">
					Copyright &copy; 2019 - All Rights Reserved - <a href="#">Scholar
						Web</a>
				</p>
			</div>
		</div>
	</div>
</body>
</html>