<html>
<head>
<title>Schollar Web</title>
<link rel="stylesheet" href="/css/fuentes.css" type="text/css" />
<meta charset="UTF-8" />
</head>

<body id="top">
	<div class="wrapper menu">
		<div id="box_tittle">
			<ul>
				<li><a href="/"><strong>Inicio</strong></a></li>
				<li><a href="/profesores"><strong>Profesores</strong></a></li>
				<li><a href="/noticias"><strong>Noticias</strong></a></li>
				<li><a href="/contacto"><strong>Contacto</strong></a></li>
			</ul>
		</div>
	</div>
	<!-- ####################################################################################################### -->
	<div class="wrapper titulo">
		<div id="header" class="clear">
			<div id="shading">
				<div class="fl_left">
					<h1>
						<a href="#">Schollar Web</a>
					</h1>
				</div>
				<div class="fl_right">
					<form action="#" method="post" id="sitesearch">
						<fieldset>
							<legend>Busqueda</legend>
							<input type="text" class="t" /> <input type="image"
								src="/css/img/search.gif" id="search" alt="Search" />
						</fieldset>
					</form>
					<p>
						<h3><a href="login">Login</a></h3>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- ####################################################################################################### -->

	<section class="wrapper principal">
		<div id="contain" class="center">
			<h2>
				El mensaje ha sido recibido, en poco tiempo recibira una respuesta</br>
				muchas gracias
			</h2>
		</div>
	</section>

	
	<!-- ####################################################################################################### -->
	<div class="wrapper">
		<div id="footer" class="clear">
			<div class="fl_left clear">
				<div class="fl_left center">
					<img src="/css/img/worldmap.gif" alt="" /><br /> <a href="#">Find
						Us With Google Maps &raquo;</a>
				</div>
			</div>
			<div class="fl_right">
				<address>
					Address Line 1<br /> Address Line 2<br /> Town/City<br />
					Postcode/Zip<br /> <br /> Tel: xxxx xxxx xxxxxx<br /> Email: <a
						href="#">contact@domain.com</a>
				</address>
			</div>
			<div id="copyright" class="clear">
				<p class="fl_left">
					Copyright &copy; 2019 - All Rights Reserved - <a href="#">Domain
						Name</a>
				</p>
			</div>
			<!-- ####################################################################################################### -->
		</div>
	</div>
</body>
</html>