<html>
<head>
<title>Schollar Web</title>
<link rel="stylesheet" href="/css/fuentes.css" type="text/css" />
<meta charset="UTF-8" />
</head>

<body id="top">
	<div class="wrapper menu">
		<div id="box_tittle">
			<ul>
				<li><a href="/"><strong>Inicio</strong></a></li>
				<li><a href="/profesores"><strong>Profesores</strong></a></li>
				<li><a href="/noticias"><strong>Noticias</strong></a></li>
				<li><a href="/contacto"><strong>Contacto</strong></a></li>
			</ul>
		</div>
	</div>
	<!-- ####################################################################################################### -->
	<div class="wrapper titulo">
		<div id="header" class="clear">
			<div id="shading">
				<div class="fl_left">
					<h1>
						<a href="#">Schollar Web</a>
					</h1>
				</div>
				<div class="fl_right">
					<form action="#" method="post" id="sitesearch">
						<fieldset>
							<legend>Site Search</legend>
							<input type="text" class="t" /> <input type="image"
								src="/css/img/search.gif" id="search" alt="Search" />
						</fieldset>
					</form>
					<p>
						<a href="#">Student Login</a> | <a href="#">Staff Login</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- ####################################################################################################### -->

	<section class="wrapper principal">
		<div id="contain" class="center">
			<h2>
				El mensaje ha sido recibido, en poco tiempo recibira una respuesta</br>
				muchas gracias
			</h2>
		</div>
	</section>

	<!-- ####################################################################################################### -->
	<div class="wrapper enlaces">
		<div id="table_nav" class="clear">
			<ul>
				<li><a href="#">Current Students</a>
					<ul>
						<li><a href="#">Academic advice</a></li>
						<li><a href="#">Career Advice Centre</a></li>
						<li><a href="#">Student Facilities</a></li>
						<li class="last"><a href="#">Students Union</a></li>
					</ul></li>
				<li><a href="#">Prospective Students</a>
					<ul>
						<li><a href="#">&raquo; University Life</a></li>
						<li><a href="#">&raquo; Academic Courses</a></li>
						<li><a href="#">&raquo; Open Days</a></li>
						<li class="last"><a href="#">&raquo; Visit The University</a></li>
					</ul></li>
				<li><a href="#">International Students</a>
					<ul>
						<li><a href="#">&raquo; Why Our College</a></li>
						<li><a href="#">&raquo; Student Accommodation</a></li>
						<li class="last"><a href="#">&raquo; Cost &amp; Finances</a></li>
					</ul></li>
				<li class="last"><a href="#">Departments &amp; Programs</a>
					<ul>
						<li><a href="#">&raquo; Art and Design</a></li>
						<li><a href="#">&raquo; Political Science</a></li>
						<li class="last"><a href="#">&raquo; Secondary Education</a></li>
					</ul></li>
			</ul>
		</div>
	</div>
	<!-- ####################################################################################################### -->
	<div class="wrapper">
		<div id="academiclinks" class="clear">
			<div class="linkbox">
				<h2>Link Category Heading</h2>
				<ul>
					<li><a href="#">&raquo; Academic Advisory</a></li>
					<li><a href="#">&raquo; Academic Assistance</a></li>
					<li><a href="#">&raquo; Academic Calendars</a></li>
					<li><a href="#">&raquo; Academics Office</a></li>
					<li><a href="#">&raquo; Administration</a></li>
					<li><a href="#">&raquo; Campus Safety &amp; Security</a></li>
				</ul>
			</div>
			<div class="linkbox">
				<h2>Link Category Heading</h2>
				<ul>
					<li><a href="#">&raquo; Class Schedules</a></li>
					<li><a href="#">&raquo; Counselling Center</a></li>
					<li><a href="#">&raquo; Graduate</a></li>
					<li><a href="#">&raquo; Graduate Admissions</a></li>
				</ul>
			</div>
			<div class="linkbox">
				<h2>Link Category Heading</h2>
				<ul>
					<li><a href="#">&raquo; Graduate Health Services</a></li>
					<li><a href="#">&raquo; Maps and Directions</a></li>
				</ul>
			</div>
			<div class="linkbox last">
				<h2>Link Category Heading</h2>
				<ul>
					<li><a href="#">&raquo; Office of the Registrar</a></li>
					<li><a href="#">&raquo; Online Learning</a></li>
					<li><a href="#">&raquo; Student Group Directory</a></li>
					<li><a href="#">&raquo; Student Life</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- ####################################################################################################### -->
	<div class="wrapper">
		<div id="footer" class="clear">
			<div class="fl_left clear">
				<div class="fl_left center">
					<img src="/css/img/worldmap.gif" alt="" /><br /> <a href="#">Find
						Us With Google Maps &raquo;</a>
				</div>
			</div>
			<div class="fl_right">
				<address>
					Address Line 1<br /> Address Line 2<br /> Town/City<br />
					Postcode/Zip<br /> <br /> Tel: xxxx xxxx xxxxxx<br /> Email: <a
						href="#">contact@domain.com</a>
				</address>
			</div>
			<div id="copyright" class="clear">
				<p class="fl_left">
					Copyright &copy; 2019 - All Rights Reserved - <a href="#">Domain
						Name</a>
				</p>
			</div>
			<!-- ####################################################################################################### -->
		</div>
	</div>
</body>
</html>