<html>
<head>
<title>Schollar Web</title>
<link rel="stylesheet" href="/css/fuentes.css" type="text/css" />
<meta charset="UTF-8" />
</head>

<body id="top">
	<div class="wrapper menu">
		<div id="box_tittle">
			<ul>
				<li><a href="/"><strong>Inicio</strong></a></li>
				<li><a href="/profesores"><strong>Profesores</strong></a></li>
				<li><a href="/noticias"><strong>Noticias</strong></a></li>
				<li><a href="/contacto"><strong>Contacto</strong></a></li>
			</ul>
		</div>
	</div>
	<!-- ####################################################################################################### -->
	<div class="wrapper titulo">
		<div id="header" class="clear">
			<div id="shading">
				<div class="fl_left">
					<h1>
						<a href="#">Schollar Web</a>
					</h1>
				</div>
				<div class="fl_right">
					<form action="busqueda" method="post" id="sitesearch">
						<fieldset>
							<legend>Busqueda</legend>
							<input type="text" class="t" /> <input type="image"
								src="/css/img/search.gif" id="search" alt="Search" />
						</fieldset>
					</form>
					<p><h3>
						<a href="/login">Login</a>| <a href="/administrador">
								administrador</a>
					</h3></p>
				</div>
			</div>
		</div>
	</div>
	<!-- ####################################################################################################### -->

	<section class="wrapper_login">
		<label style="background: #EC969F; margin-left: 320px;">El correo o la contraseña es erronea, intentelo de nuevo</label>
		<form class="register" action="/login/privado" method="post">
			<input class="mininbox t" type="email" name="correo" placeholder="info@mailaddress.com">
			<input class="mininbox t" type="password" name="contraseña"placeholder="••••••••••••">

			<input type="submit" value="Enviar" class="submit">
			<input type="hidden" name="_csrf" value="{{token}}"/>
		</form>
						
	</section>


	<!-- ####################################################################################################### -->
	<div class="wrapper">
		<div id="footer" class="not">
			<div class="fl_left clear">
				<div class="fl_left center">
					<a href="https://www.google.com/maps?client=safari&rls=en&q=puerta+del+sol&oe=UTF-8&um=1&ie=UTF-8&sa=X&ved=0ahUKEwivh4OLtMXgAhUMHxoKHX1vBQIQ_AUIDigB">
					<img src="./css/img/worldmap.gif"/><br /> Find
						Us With Google Maps &raquo;</a>
				</div>
			</div>
			<div class="fl_right">
				<address>
					Calle de la piruleta<br /> sin numero <br /> Madrid<br />
					28903p<br /> <br /> Tel: 91 6876832<br /> Email: <a
						href="#">contact@scholarweb.com</a>
				</address>
			</div>
			<div id="copyright" class="clear">
				<p class="fl_left">
					Copyright &copy; 2019 - All Rights Reserved - <a href="#">Scholar Web</a>
				</p>
			</div>
		</div>
	</div>
</body>
</html>