<html>
<head>
<title>Schollar Web</title>
<link rel="stylesheet" href="./css/fuentes.css" type="text/css" />
</head>

<body id="top">
	<div class="wrapper menu">
		<div id="box_tittle">
			<ul>
				<li><a href="/"><strong>Inicio</strong></a></li>
				<li><a href="profesores"><strong>Profesores</strong></a></li>
				<li><a href="noticias"><strong>Noticias</strong></a></li>
				<li><a href="contacto"><strong>Contacto</strong></a></li>
			</ul>
		</div>
	</div>
	<!-- ####################################################################################################### -->
	<div class="wrapper titulo">
		<div id="header" class="clear">
			<div id="shading">
				<div class="fl_left">
					<h1>
						<a href="#">Schollar Web</a>
					</h1>
				</div>
				<div class="fl_right">
					<form action="#" method="post" id="sitesearch">
						<fieldset>
							<legend>Site Search</legend>
							<input type="text" class="t" /> <input type="image"
								src="css/img/search.gif" id="search" alt="Search" />
						</fieldset>
					</form>
					<p>
						<a href="#">Student Login</a> | <a href="#">Staff Login</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- ####################################################################################################### -->

	<div class="wrapper principal">
		<div id="container" class="clear">

			<h3 class="center">Profesores</h3>
			<section class="school-features text-dark d-flex">
				<div class="inner">
					{{#profe}}
					<div class="feature text-center">
						<img src="./css/img/{{nombre}}.gif">
						<h3 class="center">
							{{nombre}} {{apellido1}} {{apellido2}}
						</h3>
						<p>Asignaturas:</p>
						<p>{{correo}}</p>
					</div>
					{{/profe}}
				</div>
			</section>
		</div>
	</div>

	<!-- ####################################################################################################### -->
	<div class="wrapper">
		<div id="footer" class="clear">
			<div class="fl_left clear">
				<div class="fl_left center">
					<img src="./css/img/worldmap.gif" alt="" /><br /> <a href="#">Find
						Us With Google Maps &raquo;</a>
				</div>
			</div>
			<div class="fl_right">
				<address>
					Address Line 1<br /> Address Line 2<br /> Town/City<br />
					Postcode/Zip<br /> <br /> Tel: xxxx xxxx xxxxxx<br /> Email: <a
						href="#">contact@domain.com</a>
				</address>
			</div>
			<div id="copyright" class="clear">
				<p class="fl_left">
					Copyright &copy; 2014 - All Rights Reserved - <a href="#">Domain
						Name</a>
				</p>
			</div>
			<!-- ####################################################################################################### -->
		</div>
	</div>
</body>
</html>